/* .app{
    background-color: #f5f5f5;
} */
.header{
    height: var(--header-height);
}
.title__full-width{
    background-color: #1e1e1e;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
    align-items: center;
}
/* header javascript */
.header__navbar.sticky{
    position:fixed;
	top:0;
	left:0;
	width:100%;	
    background-color: #1e1e1e;
    z-index: 3;
    display: flex;
}
.header-with-search.after{
    margin-top: 36px;
}
.header.after{
    height: 136px;
}

.header__navbar-list{
    list-style: none;
    margin: 0 70px 0 0;
    padding: 0 0 0 70px;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item{
    margin: 6px 8px;
    position: relative;

}
/* gach ngang */
.header__navbar--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    border-left: solid 2px #646262;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
/* icon */
.header__navbar-icon-link{
    color: #c6c1c1;
    text-decoration: none;
}
.header__navbar-icon{
    font-size: 1.6rem;
    margin: 0 5px;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover{
    color: rgba(208, 206, 206, 0.8);
    cursor: pointer;
}
.header__navbar-item--strong{
    font-weight: 500;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

/* header with search */
.header-with-search{
    background-color: #fff;
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}
/* logo */
.header__logo{
    margin: 0 164px 0 55px;
}
.header__logo-img{
    width: 172px;
    margin-left: 24px;
}
.header__search{
    background-color: var(--white-color);
    height: 40px;
    width: 628px;
    border-radius: 40px ;
    border: 1px solid;
}
.header__cart{
    margin: 4px 126px;
    text-align: center;

}
/* icon */
.header__cart-icon{
    font-size: 2rem;
    margin-top: 3px;
}
.header__cart-word{
    font-size: 1.5rem;
    margin-left: 6px;
}
/* tim kiem san pham */
.header__search{
    display: flex;
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header___search-input{
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 0 18px;
    border-radius: 0 40px 40px 0;
    background-color: var(--white-color);
    font-weight: 300;
}
.header__search-select{
    border-right: 1px solid #1e1e1e;
}
.header__search-select-word{
    font-size: 1.5rem;
    padding-right: 20px;
    display: block;
    margin: 11px 0 0 24px;
    
}
.header__search-btn{
    background-color: var(--white-color);
    border: none;
    height: 38px;
    border-radius: 0 40px 40px 0;
    outline: none;
    margin-right: 9px;
    width: 54px;
    border-left: 1px solid;
}
.header__search-btn-icon{
    font-size: 2rem;
    color: #000;
    margin-right: 8px;
    
}
.header__logo,
.header__search-select,
.header__search-btn:hover{
    cursor: pointer;
}
.header__cart:hover{
    cursor: pointer;
    color: #3a3939;
}

/* Search history */
.header__search-history{
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #c0b8b8;
    display: none;
    overflow: hidden;
    z-index: 1;
}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color :#999;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0;
}
/* để căn giữa 2 thẻ a có thể dùng flex or line-hight */
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 38px;
    display: block;
}
.header__search-history-item:hover{
    background-color: #fafafa;
}
/* focus dùng để chọn tất cả các phần tử INPUT, TEXTAREA, SELECT đang được người dùng truy cập vào
 (truy cập bằng cách click chuột vào nó hoặc bấm phím Tab để di chuyển vào nó)
 ~ là selector kết nối 2 elements lại với nhau nghĩa là khi bạn click vào thẻ input 
 nó sẽ hiển thị ra thẻ history
 */
.header___search-input:focus~.header__search-history{
    display: block;
}
/* Authen modal */
.auth-form{
    width: 500px;
    border-radius: 5px;
    /* overflow : hidden ko cho các thuộc tính khác tràn ra bên ngoài hay nói cách khác
     khi thg con vượt quá thg cha thì nó sẽ bị ẩn đi */
    overflow: hidden;
    background-color: var(--white-color);
}
.auth-form__banner{
    padding : 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}
.auth-form__heading{
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: #007bff;
    font-weight: 500;
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 80;
    border: 1px solid var(--text-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #777;
}
.auth-form__phanthemvao{
    margin-top: 18px;
}
.auth-form__policy--text{
    font-size: 1.4rem ;
    line-height: 1.8rem ;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text--link{
    color: #007bff;
    text-decoration: none;
}
/* Làm 2 nút trở lại và đăng ký */
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__social{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
 
}
/* Chỉnh sửa phần fb và google của phần đăng ký */
.btn-size-s{
    height: 32px;
    font-size: 12px;

}
/* Thêm thg sms đăng nhập */
.bem-size-s{
    height: 32px;
    font-size: 12px;

}
.auth-form__social-icon{
    font-size: 1.8rem;
}
.auth-form__social--facebook{
    color: var(--white-color);
    background-color: #3A5A98;
}
.auth-form__social--facebook
.auth-form__social-icon{
    color: var(--white-color);

}

.auth-form__social-title{
    margin: 0 24px;
}
.auth-form__social--google{
    color: #666;
    background-color: #fff;
}
/* Chỉnh sửa Login */
.frmlogin{
    display: flex;
    justify-content: center;
    margin-top: 130px;

}
.auth-form__help{
    display: flex;
    justify-content: end;
   
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
}
.auth-form__help-vachngancach{
    display: block;
    border-left: 1px solid var(--text-color);
    height: 16px;
    margin: 0 16px ;
}
.auth-form__help-forget{
    color: #EE4D2D;
}
.auth-form__help-need{
    color: #939393;
}
.auth-form__social--sms{
    background-color:  #48e45a;
}
/* Chinh sua register */
.frmRegister{
    display: flex;
    justify-content: center;
    margin-top: 164px;
}

/* Banner */

.banner {
    position: relative;
}

.banner .item img {
    height: 400px;
    width: 100%;
}

.banner .item {
    display: none;
}

.banner .item.active {
    display: block;
}

.dots-wrap {
    display: flex;
    justify-content: center;
}

.dots-wrap .dot {
    width: 4px;
    height: 12px;
    display: block;
    border: none;
    border-radius: 50%;
    margin: -30px 5px 0 5px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    cursor: pointer;
    /* margin-top: -30px; */
}

.dots-wrap .dot.active {
    background: #fff;
}
.carousel-control{
    display: block;
}
.carousel-control.left{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 45px;
    color: #fff;
    text-align: center;
    opacity: 0.6;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}


.glyphicon-chevron-left{
   display: inline-block;
   text-align: center;
   margin-top: 175px;
}
.carousel-control.right{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 15%;
    font-size: 45px;
    color: #fff;
    text-align: center;
    text-shadow:  0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: 0.6;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.glyphicon-chevron-right{
    display: inline-block;
    text-align: center;
    margin-top: 175px;
}
.glyphicon-chevron-btn{
    font-size:larger;
    font-weight: 900;  
    height: 400px;
    padding-top: 178px;
    margin-top: -175px;
    width: 228px; 
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: 5;
  cursor: pointer;
}

/* Banner-bottom */
.container{
    width: 100%;
    height: 356px;
}
.grid figure {
	position: relative;
    overflow: hidden;
    background:#000000;
    text-align: center;
}

.grid figure img {
	position: relative;
	display: block;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h3 span {
	font-weight: 800;
    color: #e71f30;
}

.grid figure p {
    letter-spacing: 10px;
    color: #fff;
    line-height: 2em;
    font-size: 20px;
}

figure.effect-roxy img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	width: -moz-calc(100% + 60px);
	width: -o-calc(100% + 60px);
	width: -ms-calc(100% + 60px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50px,0,0);
	transform: translate3d(-50px,0,0);
	-moz-transform: translate3d(-50px,0,0);
	-o-transform: translate3d(-50px,0,0);
	-ms-transform: translate3d(-50px,0,0);
}

figure.effect-roxy figcaption::before {
	position: absolute;
	top: 15px;
    right: 26px;
    bottom: 15px;
    left: 26px;
    border: 4px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-20px,0,0);
	transform: translate3d(-20px,0,0);
	-ms-transform: translate3d(-20px,0,0);
	-moz-transform: translate3d(-20px,0,0);
	-o-transform: translate3d(-20px,0,0);
   
}

figure.effect-roxy figcaption {
    padding: 3em;
    text-align: right;
    border: 13px solid rgba(255, 255, 255, 0.15);
}

figure.effect-roxy h3 {
    padding: 1.5em 0 .5em;
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}
figure.effect-roxy p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
}

figure.effect-roxy:hover img,.agileinfo_banner_bottom_grid_three_left:hover img{
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p,.agileinfo_banner_bottom_grid_three_left:hover figcaption::before,
.agileinfo_banner_bottom_grid_three_left:hover p{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.wthree_banner_bottom_grid_three_left1 {
    width: 49.5%;
    float: left;
    margin-left: 6px;
    background-color: #fff;
}
.banner_bottom_agile_info {
    padding: 5em 0;
}
.banner_bottom_agile_info.team {
    background: #f5f5f5;
}
.img-responsive{
    width: 594px;
    height: 297px;
}
/* Container */
.bannerHome{
    font-family: helvetica neue;
    font-size: 14px;
    line-height: 22px;
    color: #333;
    margin: 10px;
}
.title{
    text-transform: uppercase;
    color: #ed1c24;
}
/* row1 */
.row1{
    display: flex;
    content: " ";
    margin : 0 -15px;
    padding: 30px;
    
}
.wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-shadow: 0 0.1px 0.2px 0 rgba(0,0,0, 0.1);
}
.wrapper-row:hover{
    transform: translateY(-5px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0 ,0.06);
}
::after,::before{
    box-sizing: border-box;
}
.row1:after,.row1:before, .row2:after,.row2:before, .row3:after,.row3:before {
    display: table;
    content: " ";
}
.product {
    margin-bottom: 60px;
    position: relative;
    display: flex;
    padding-right: 10px;
}
.container-box1{
    padding-right: 25px;
}
.caption:before {
    content: "";
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    z-index: 1;
    border: solid 10px rgba(0,0,0,.05);
    pointer-events: none;
}
.container-box1 .item img{
    width: 75%;
    height: 100%;
}
.container-box1 .product .item:before{
    content: "";
    position: absolute;
    width: 74%;
    height: 100%;
    border: solid 2px #dedede;
    z-index: 1;
    pointer-events: none;
    top: -10px;
    left: -10px;
}
.container-box1 .caption{
    position: absolute;
    background: #fff;
    padding: 25px 0px 25px 20px;
    width: 230px;
    z-index: 2;
    margin: 50% 0 0 60%;
}
.row1 .t1, .row2 .container-box2-t1{
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.row1 .t2, .row2 .container-box2-t2{
    font-size: 55px;
    line-height: 65px;
    color: #ed1c24;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.row1 .t3, .row2 .container-box2-t3{
    color: #666;
    margin-bottom: 20px;
}
/* row2 */
.row2{
    display: flex;
    content: " ";
    padding: 30px;
    margin-left: 114px;
    width: 1200px;
}
.container-box2{
    width: 570px;
    height: 622.92px;
    padding-right: 25px;
}
.container-box2 .product .item:before{
    content: "";
    position: absolute;
    width: 73%;
    height: 99%;
    border: solid 2px #dedede;
    z-index: 1;
    pointer-events: none;
    top: -10px;
    left: 6px;
}
.box2{
    padding-left: 25px;
}
.row2-box2{
    padding-left: 25px;
    margin-left: 17px;
}
.box2 .item img{
    width: 75%;
    height: 100%;
}
.box2 .product .item:before{
    content: "";
    position: absolute;
    width: 74%;
    height: 100%;
    border: solid 2px #dedede;
    z-index: 1;
    pointer-events: none;
    top: -10px;
    left: -10px;
}
.box2 .caption{
    position: absolute;
    background: #fff;
    padding: 25px 0px 25px 20px;
    width: 230px;
    z-index: 2;
    margin: 10% 0 0 58%;
}
.row2 .box2-t1, .row3 .t1{
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.row2 .box2-t2, .row3 .t2{
    font-size: 30px;
    line-height: 34px;
    color: #ed1c24;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.row2 .box2-t3, .row3 .t3{
    color: #666;
    margin-bottom: 20px;
}
.container-box2 .caption{
    position: absolute;
    background: #fff;
    padding: 25px 0px 25px 20px;
    width: 230px;
    z-index: 2;
    margin: -8% 0% 0% -24%;
}
.row2-box2 .caption{
    position: absolute;
    background: #fff;
    padding: 25px 0px 25px 20px;
    width: 230px;
    z-index: 2;
    margin: 54% 0% 0% -36%
}


.container-box2 img{
    width: 401.25px;
    height: 562.92px;
    padding-right: 6px;
    margin-left: 16px;
}
.row2-box2 img{
    height: 562.92px;
    width: 401.25px;
}
.row2-box2 .product .item:before{
    content: "";
    position: absolute;
    width: 98%;
    height: 99%;
    border: solid 2px #dedede;
    z-index: 1;
    pointer-events: none;
    top: -10px;
    left: -10px;
}
.row2-box2 .product .item:before{
    content: "";
    position: absolute;
    width: 98%;
    height: 100%;
    border: solid 2px #dedede;
    z-index: 1;
    pointer-events: none;
    top: -10px;
    left: -10px;
}
/* row3 */
.row3{
    display: flex;
    content: " ";
    padding: 30px;
    margin: 0 -15px;
}
.container-box3{
    width: 570px;
    height: 622.92px;
    padding-right: 25px;
}
.container-box3 .product .item:before{
    content: "";
    position: absolute;
    width: 73%;
    height: 99%;
    border: solid 2px #dedede;
    z-index: 1;
    pointer-events: none;
    top: -10px;
    left: 6px;
}
.row3-box3{
    padding-left: 25px;
    margin-left: 17px;
}
.row3 .container-box3-t1{
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.row3 .container-box3-t2{
    font-size: 30px;
    line-height: 34px;
    color: #ed1c24;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.row3 .container-box3-t3{
    color: #666;
    margin-bottom: 20px;
}
.container-box3 .caption{
    position: absolute;
    background: #fff;
    padding: 25px 0px 25px 20px;
    width: 230px;
    z-index: 2;
    margin: 50% 0% 0% 60%;
}
.row3-box3 .caption{
    position: absolute;
    background: #fff;
    padding: 25px 0px 25px 20px;
    width: 230px;
    z-index: 2;
    margin: 10% 0% 0% 58%
}


.container-box3 img{
    width: 401.25px;
    height: 562.92px;
    padding-right: 6px;
    margin-left: 16px;
}
.row3-box3 img{
    height: 562.92px;
    width: 401.25px;
}
.row3-box3 .product .item:before{
    content: "";
    position: absolute;
    width: 98%;
    height: 99%;
    border: solid 2px #dedede;
    z-index: 1;
    pointer-events: none;
    top: -10px;
    left: -10px;
}
.row3-box3 .product .item:before{
    content: "";
    position: absolute;
    width: 98%;
    height: 100%;
    border: solid 2px #dedede;
    z-index: 1;
    pointer-events: none;
    top: -10px;
    left: -10px;
}
/* Product item */
.app__content{
    padding-top: 36px;
    display: flex;
    width :66.6667%;
    margin-left: 17%;
}
.home-product{
    margin-bottom: 10px;
}
.home-product--title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 30px;
    color: #ff7272;
}
.home-product-item{
    position: relative;
    display: block;
    margin-top: 10px;
    background-color: var(--white-color);
    border-bottom-left-radius: 2px ;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0.1px 0.2px 0 rgba(0,0,0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0 ,0.05);
}
.home-product-item__img{
    padding-top: 100%;
    /* background-repeat: no-repeat; */
    background-size: contain;
    background-position: top center;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 2px 0px;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;
}
.home-product-item__price{
    display: flex;
    /* baseline no se lay phan chan chu bang nhau */
    align-items: baseline;
}
.home-product-item__price-old{
    font-size: 1.3rem;
    color: #666;
    /* line-through gach bo o giua chu */
    text-decoration: line-through;
    margin-left: 10px;
}
.home-product-item__price-current{
    font-size: 1.4rem;
    color: #EE4D2D;
    margin-left: 10px;
    flex-wrap: wrap;
}
.home-product-item-action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;

}
.home-product-item__like{
    font-size: 1.3rem;

}
/* Nếu mà nó ko đc ưu tiên và bị thg khác đè thì thêm chính thẻ của nó vào */
i.home-product-item__like-icon-fill{
    color: #f63d30;
    display: none;
    
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 1rem;
    /* Khi font-size ko thể thu nhỏ đc nữa thì dùng transform */
    transform: scale(0.8);
    /* transform-origin right để tâm thu nhỏ ở bên phải chứ ko để chính giữa nữa */
    transform-origin: right;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
    
}
.home-product-item__star--gold{
    color: var(--star-gold-color);
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    font-weight: 400;
    color: #595959;
    font-size: 1.2rem;
}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    font-size: 1.2rem;
    color: #EE4D2D;
    background-color: currentColor;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favourite span{
    color: var(--white-color);
}
.home-product-item__favourite i{
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}
/* Filter : brightness ->chỉnh độ sáng của màu */
.home-product-item__favourite::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(65%);
}

.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgb(255, 216, 64, .94);
    text-align: center;
    border-top-right-radius: 2px;
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgb(255, 216, 64, .94) transparent rgb(255, 216, 64, .94);
    bottom: -4px;
}
.home-product-item__sale-off-percent{
    color: #ee4d2d;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2rem;
    position: relative;
    top: 2px;
    margin-right: -2px;
}
.home-product-item__sale-off-label{
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
    font-weight: 600;
    position: relative;
    top: 1px;
}
.home-product__pagination{
    margin: 48px 0 32px 0;
}
/* Contact */
.contact{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url("./assets/img/guarantee.jpg");
    /*background:chartreuse;*/
    background-size: cover;  
    color: white;
    font-size: 20px;
}
.our-service .container{
    display: flex;
    justify-content: space-between;
}
.our-service .container .service {
    width: 33.3333333%;
    padding: 0px 60px 30px 60px;
    margin-top: 20px;
    text-align: justify;
    position: relative;
}
.contact h3{
    padding-top: 120px;
    padding-bottom: 50px;
    font-size: 25px;
    text-align: center;
}
.contact img{
    width: 80px;
}
.contact h4{
    font-size: 25px;
    text-align: center; 
}
.our-service .container .service .content p{
    line-height: 25px;
    font-size: 20px;
}
.our-service .container .service .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.caption-contact{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px 100px 20px;
}
.caption-contact .cap-1, .caption-contact .cap-2{
    width: 40%;
    font-size: 20px;
    line-height: 35px;
}
.info{
    padding: 0 30px;
    border-top: 1px solid rgba(0,0,0,.05);
    border-color: #dbc084;
    font-size: 19px;
    text-align: center;
}
.info .container{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.info .container .infomation .icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
.info .container .infomation{
    width: 20%;
    padding: 20px;
    line-height: 25px;
    margin-top: 60px;
}
.info .container .infomation .icon img{
    width: 90px;
}
/* Footer */
.footer{
    padding-top: 16px;
    border-top: 4px solid black;
    margin-top: 64px;
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);

}
.footer-list{
    padding-left: 0;
    list-style: none;

}
.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-item__icon{
    font-size: 1.5rem;
    margin: -1px 6px 0 0;

}

.footer__download-apps{
    display: flex;
    justify-content: space-between;
    margin: 22px 52px 0px 10px;
}
.footer__download-app-img{
    height: 20px;   
}
.footer__download-app-link{
    text-decoration: none;
    color: transparent;
}
.footer__bottom{
    background-color: #f5f5f5;
    padding: 8px 0;
    margin-top: 36px;
}
.footer__text{
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}

